//
//  Base Styles
//  ___________________________________________

// in less files with extend from target class
.target-element {
    .am-icon-arrow;
}

// in Less files with font icon ID for content
.target-element:after {
    content: @amamp-icon-arrow__content;
}
